#titlelink {
    font-weight: normal;
    font-size: 2em;
}

a {
    color: #214b9d;
}

body {
    font-size: 16px;
    color: black;
    padding: 20px;
    background-color: #dadada;
}

.wrapper {
    padding: 30px;
    background-color: white;
    border: 2px solid black;
}

h1,h2,h3,h4,h5,h6 {
    color: black;
}

a:hover {
    text-decoration: dotted underline;
    font-weight: inherit !important;
}

a:hover, a:focus {
    color: #8d10c6;
}

#search_input {
    width:100%;
}

#searchbar {
    float: right;
    min-width: 15%;
    max-width: 300px;
    padding-top: 10px;
}

.view {
    float:right;
    font-size: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
}

.header {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

hr {
    clear: right;
}

#summarizer {
    padding-top: 30px;
}