#titlelink {
    font-weight: normal;
    font-size: 2em;
    flex: 6;
    padding-right: 30px;
}

a {
    color: #214b9d;
}

body {
    font-size: 16px;
    color: black;
    padding: 20px;
    background-color: #dadada;
}

.wrapper {
    padding: 30px;
    background-color: white;
    border: 2px solid black;
}

h1,h2,h3,h4,h5,h6 {
    color: black;
}

a:hover, a:focus {
    text-decoration: dotted underline;
    font-weight: inherit !important;
}

a:hover, a:focus {
    color: #8d10c6;
}

#search_input {
    width:100%;
    font-size: 12px;
    height: 100%;
}

#allpapers, .randomdiv {
    padding-top: 7px;
    padding-right: 20px;
}

#allpapers .linkbutton {
    min-width: 48px;
    height: 100%;
}

.randomdiv .linkbutton {
    height: 100%;
}

#rightsideheader {
    flex: 4;
    display: inherit;
    margin-bottom: 8px;
    justify-content: right;
}

#searchbar {
    min-width: 60px;
    max-width: 120px;
    padding-top: 7px;
}

.linkbutton.editbutton {
    font-size: 12px;
    margin-bottom: 20px;
}

.linkbutton {
    font-size: 16px;
}

.linkbutton {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color:#f9f9f9;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

.linkbutton:hover {
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color:#e9e9e9;
}

.header {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
}

.linktopage {
    margin: 0 10px 0 10px;
    padding: 10px;
}

hr {
    clear: right;
}

#scirate {
    float:right;
}

#paper_details {
    display: inline-block;
}