<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}: enriched e-Prints</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="{{ "main.css" | relative_url }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css" integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.js" integrity="sha384-9Nhn55MVVN0/4OFx7EE5kpFBPsEMZxKTCnA+4fqDmg12eCTqGi6+BB2LjY8brQxJ" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
</head>

<body>
  <div class="wrapper">
    <div class="header">
      <a id="titlelink" href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a>

      <div class="view"><a id="githublink" target="_blank" href="{{ site.github.repository_url }}/edit/main/">Edit</a></div>
      <div id="searchbar"><input type="search" id="search_input" placeholder="e.g. 2101.05513"/></div>
    </div>
    <div>

      <div style="display: none" id="paper_info">
        <h1 id="paper_title"></h1>
        <p id="paper_authors"><em>Loading...</em></p>
        <p id="paper_details"></p>
        <p id="paper_abstract"></p>
        <hr/>
      </div>
      {{ content }}

    </div>
  </div>
  <script src="{{ "paperinfo.js" | relative_url }}"></script>
  <script src="{{ "githublink.js" | relative_url }}"></script>
  <script src="{{ "search.js" | relative_url }}"></script>
</body>

</html>