<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}: enriched e-Prints</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="{{ "main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "katex/katex.min.css" | relative_url }}">
  <script defer src="{{ "katex/katex.min.js" | relative_url }}"></script>
  <script defer src="{{ "katex/auto-render.min.js" | relative_url }}"  onload="renderMathInElement(document.body);"></script>
</head>

<body>
  <div class="wrapper">
    <div class="header">
      <a id="titlelink" href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a>
      <div id="searchbar"><input type="search" id="search_input" placeholder="search"/></div>
      <div id="allpapers"><button class="linkbutton"><a href="{{ "/all" | absolute_url }}">All papers</a></button></div>
      <div class="randomdiv"><button class="linkbutton" id="randompage"><a href="/abs/2101.05513">Random</a></button></div>
    </div>

    <div>
      <div id="paper_info">
        {% capture arxiv_id %}{{page.path | remove_first: 'abs/' | remove_first: '.md'}}{% endcapture %}
          <h1 id="paper_title">{{site.data.arxivdata[arxiv_id].title}}</h1>
          <p id="paper_authors">{{site.data.arxivdata[arxiv_id].authors}}</p>
          <p id="paper_details"><em>Loading...</em></p>
          <p id="paper_abstract" style="display: none">{{site.data.arxivdata[arxiv_id].abstract}}</p>
          <hr />
          {% capture full_url %}{{ site.github.repository_url }}{{ page.urlsuffix | default: "/edit/main/" }}{% endcapture %}
          <button class="linkbutton editbutton"><a id="githublink" target="_blank" href="{{ full_url }}">✍️ Edit this page</a></button>
      </div>
      {{ content }}
    </div>

    <div id='summarizer' style="display: none">
      <hr/>
      <p><button id='summarizerbutton'>Click to use automatic abstract summarizer</button> (by <a href="https://scitldr.apps.allenai.org/about" target="_blank">Allen AI</a>)</p>
      <p>To use, scroll down and press the Submit button for a one-sentence summary of the abstract.</p>
      <div style="overflow: hidden; border: 1px solid black; width: 100%; height: 500px">
          <iframe src="" frameborder="0"  style="width:100%; height:100%; overflow-x:hidden;"></iframe>
      </div>
    </div>

  </div>
  <script src="{{ "paperinfo.js" | relative_url }}"></script>
  <script src="{{ "githublink.js" | relative_url }}"></script>
  <script src="{{ "search.js" | relative_url }}"></script>
  <script src="{{ "randompage.js" | relative_url }}"></script>
</body>

</html>