<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}: enriched e-Prints</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="{{ "main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "katex/katex.min.css" | relative_url }}">
  <script defer src="{{ "katex/katex.min.js" | relative_url }}"></script>
  <script defer src="{{ "katex/auto-render.min.js" | relative_url }}"  onload="renderMathInElement(document.body);"></script>
</head>

<body>
  <div class="wrapper">
    <div class="header">
      <a id="titlelink" href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a>
      <div id="rightsideheader">
      <div class="randomdiv"><button class="linkbutton" id="randompage"><a id="randomlink">Random</a></button></div>
      <div id="allpapers"><button class="linkbutton"><a href="{{ "/all" | absolute_url }}">All</a></button></div>
      <div id="searchbar"><input type="search" id="search_input" placeholder="arXiv ID or link"/></div>
    </div>
    </div>

    <div>
      {% capture var %}display:none{% endcapture %}
      {% capture pagedirshort %}{{page.dir | truncate: 5, ''}}{% endcapture %}
      {% if pagedirshort == '/abs/' %}
      {% capture var %}{% endcapture %}
      {% endif %}
      <p id="loadingpane" style="display:none">Loading...</p>
      <div style="{{var}}" id="paper_info">
        {% capture arxiv_id %}{{page.path | remove_first: 'abs/' | remove_first: '.md'}}{% endcapture %}
          <h1 id="paper_title">{{site.data.arxivdata[arxiv_id].title}}</h1>
          <p id="paper_authors">{{site.data.arxivdata[arxiv_id].authors}}</p>
          <p id="paper_other_stuff">
            <span id="paper_details"><a href="https://arxiv.org/abs/{{arxiv_id}}" target="_blank">https://arxiv.org/abs/{{arxiv_id}}</a></span>
            <span id="scirate"> (or <a href="https://scirate.com/arxiv/{{arxiv_id}}" target="_blank">view on SciRate</a>)</span>
          </p>
          <p id="paper_abstract" style="display: none">{{site.data.arxivdata[arxiv_id].abstract}}</p>
          <hr />
          {% capture full_url %}{{ site.github.repository_url }}{{ page.urlsuffix | default: "/edit/main/" }}{% endcapture %}
          <button class="linkbutton editbutton"><a id="githublink" href="{{ full_url }}">✍️ Edit this page</a></button>
      </div>
      {{ content }}
    </div>

    {% if page.tags %}
    <hr/>
    <div><span>tags:
      {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <code><a href="/tag/{{ tag_name }}"><nobr>{{ tag_name }}</nobr></a>&nbsp;</code>
        {% endfor %}
    </span></div>
    {% endif %}
  </div>
  <script src="{{ "paperinfo.js" | relative_url }}"></script>
  <script src="{{ "githublink.js" | relative_url }}"></script>
  <script src="{{ "search.js" | relative_url }}"></script>

  <script>
    var allPages = [];
  </script>
  {% for member in site.data.all %}
  <script>
    allPages.push("{{ member.id }}")
  </script>
{% endfor %}
  <script>
      link = allPages[Math.floor(Math.random() * allPages.length)];
      document.getElementById("randomlink").href = "/" + link;

      // fix link buttons
      var linkbuttons = document.getElementsByClassName("linkbutton");
      for (let idx = 0; idx < linkbuttons.length; idx++) {
          linkbuttons[idx].onclick = () => {window.location.href = linkbuttons[idx].children[0].href;}
      }
  </script>
</body>

</html>