---
layout: default
---
<div>
{% capture lowerpagetag %}{{ page.tag | downcase }}{% endcapture %}
<h1>Tag: {{ page.tag }}</h1>
<div>
    {% for member in site.data.all %}
    {% capture short_id %}{{ member.id | remove_first: 'abs/' | remove_first: '.md'}}{% endcapture %}
    {% capture id_with_md %}{{ short_id | append: '.md'}}{% endcapture %}
    {% assign p = site.pages | where:"name", id_with_md  | first %}
    {% for tag in p.tags %}
    {% capture lowerptag %}{{tag | downcase}}{% endcapture %}
    {% if lowerptag == lowerpagetag %}
        <div class="linktopage">
        <div><a href="/abs/{{short_id}}"><b>{{site.data.arxivdata[short_id].title}}</b></a></div>
        <div>{{site.data.arxivdata[short_id].authors}}</div>
        </div>
    {% endif %}
    {% endfor %}
{% endfor %}
</div>
</div>